body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  margin:0;
  padding:.5rem 0 .5rem 0;
}
h2{
  margin:0;
  padding:0 0 .5rem 0;
  font-weight:normal;
}
label {
  display:block;
  margin:0 0 0.8rem 0;
  padding:.5rem 0 0 0;
}
input[type=text] {
  height:1.5rem;
  width:11rem;
  margin:0 0 0 .4rem;
}
button {
  padding:.3rem .5rem;
}

.errorBox {
  width:50%;
  margin:0 auto .8rem auto;
  /* border: 1px solid red; */
}

.errorStrings {
  color:Red;
  font-weight:bold;
}


.userList{
  width:40%;
  max-width:30rem;
  margin:2rem auto;
  text-align:left;
}

.userList * {
  margin:0;
  padding:0;
}

.userList h3 {
  font-size:.8rem;
  margin-top:.9rem;
}

.userList p {
  font-size: 0.8rem;
  line-height:1.5;
}